body {
  padding: 0px;
  margin: 0px;
  background-color: #B36EF8;
  font-family: 'Crete Round', serif;
}

.App {
  color: black;

}

header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  margin-right: 20px;

}

.left-side {
  display: flex;
  padding-left: 20px;
}

.logo {
  font-family: 'Crete Round', serif;
  font-size: 18px;
  margin-bottom: 0px;
  padding: 20px;
  color: white;
}

.intro {
  font-size: 14px;
  width: 280px;
  padding: 20px;
}

.intro a{
  text-decoration: none;
  color: white;
}

.intro a:hover {
  text-decoration: none;
  color: #F83F3A;
}

.search-form {
  display: flex;
  margin-top: 20px;
  margin-right: 40px;
  align-items: flex-end;
}

input {
  display: flex;
  height: 30px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 5px;
  width: 300px;
  border-bottom: 1px solid white;
  font-family: 'Crete Round', serif;
  font-size: 14px;

}

::placeholder {
  opacity: 1;
}

input:focus {
  box-shadow: none;
  background: none;
  border-bottom: 1px solid #F83F3A;;

}

button {
  height: 40px;
  width: 100px;
  margin-left: 20px;
  color: white;
  background-color: #B36EF8;
  border: 1px solid black;
  padding: 10px;
  box-shadow: none;
  cursor: pointer;
  font-family: 'Crete Round', serif;
  font-size: 14px;
}

button:hover {

  background-color: #F83F3A;
  color: black;
}


.cards {
  position: relative;
  margin: auto;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px dashed black;
  padding-top: 20px;
}

img {
  width: 260px;
  filter: grayscale(50%);
  border: 1px solid white;
}

img:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.card {
  width: 280px;
  border-bottom: 1px dashed black;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 14px;
}

.card h1 {
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 0px;
}

.card a {
  color: white;
  text-decoration: none;
}

.card a:hover {
  text-decoration: none;
  color: #F83F3A;
}

.card p {
  margin-top: 0px;
}

.empty-card {
  background-color: black;
  display: none;
}

.footer {
  position: relative;
  bottom: 0px;
  padding: 40px;
  font-size: 12px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: #F83F3A;
}

#time {
  color: #F83F3A;
  font-size: 60px;
}


@media (max-width: 900px) {

  header {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;

  }
  .left-side {
    display: flex;
    border-bottom: 1px dashed black;
    justify-content: space-between;
    width: 100vw;
  }

  input {
    width: 200px;
  }

  .footer {
    text-align: center;
  }

}
